<section class="hero">
  <div class="hero__container">
    <!-- LEFT: TEXT -->
    <div class="hero__content">
      <h1 class="hero__title">
        <span class="hero__sun-wrap">
          <img class="hero__sun" src="/img/sun.svg" alt="Sun icon" />
        </span>

        <span class="hero__title-text">
         Get <span class="hero__italic">  Body</span> in <br />
 <span class="hero__italic">shape</span>, Stay healthy

        </span>
      </h1>

      <p class="hero__text">
        Transform your physique and embrace a healthier lifestyle
        with our comprehensive fitness and nutrition support.
      </p>
    </div>

    <!-- RIGHT: CARD -->
    <div class="hero__card">
      <picture>
        <source type="image/avif" srcset="/img/legs.avif">
        <source type="image/webp" srcset="/img/legs.webp">
        <img
          src="/img/legs.png"
          alt="Workout preview"
          loading="lazy"
          decoding="async"
          width="320"
          height="240"
        />
      </picture>


      <ul class="hero__card-tags">
        <li>#Sport</li>
        <li>#Healthy</li>
        <li>#Workout</li>
        <li>#Diet</li>
      </ul>
    </div>
  </div>

  <div class="hero__bottom-image">
    <picture>
      <source type="image/avif" srcset="/img/woman.avif">
      <source type="image/webp" srcset="/img/woman.webp">
      <img
        src="/img/woman.png"
        alt="Workout photo"
        loading="lazy"
        decoding="async"
        width="320"
        height="240"
      />
    </picture>
  </div>
</section>

<load src="/partials/exercises.html" />
